body{
  margin:0;
  padding:0;
background-color:#bcb4fb2e;
font-family: 'Bree Serif', serif;

  
}
.taskeasy-title{
  font-family: 'Kablammo', cursive;
  color:#e90000;
  font-size:60px;

}
.todo-container{
height:350px;
overflow-y:scroll;

}
.todo-form-container{
height:350px;
background-color:#3622e6b0;
}
/* .task-card{
   background-color:white; 
  border:1px solid black; 


} */
.navbar-con{
  border:0.5px solid gray;
  box-shadow:0px 1px 10px 1px gray;
}

