body{
  margin:0;
  padding:0;
background-color:#bcb4fb2e;
font-family: 'Bree Serif', serif;

  
}
.taskeasy-title{
  font-family: 'Kablammo', cursive;
  color:#e90000;
  font-size:60px;

}
.todo-container{
height:350px;
overflow-y:scroll;

}
.todo-form-container{
height:350px;
background-color:#3622e6b0;
}
/* .task-card{
   background-color:white; 
  border:1px solid black; 


} */